html {
    font-family: 62.5%;
}

body {
    margin: 0;
    font-family: 300 11px/1.4 'Helvetica neue', 'sans-serif';
    color: #444;
    background: #022c43;
    overflow: hidden;
    display: block;
    -webkit-font-smothing: antialiased;
    -moz-osx-font-smothing: grayscale;
}